/*PRELOADERS*/
.thecrate_preloader {
    background: #23282d none repeat scroll 0 0;
    height: 120px;
    width: 120px;
    position: relative;
}
.redux-message.redux-notice.notice.redux-notice {
    display: none;
}
.php-error #adminmenuback, .php-error #adminmenuwrap {
    margin-top: 0;
}
.thecrate_preloader .loader-inner {
    position: absolute;
}
.cmb_id_themeslr_header_custom_variant img {
    border: 2px solid rgba(0, 0, 0, 0.3);
    max-width: 100%;
}
.meta_box_label {
    display: block;
    float: left;
    width: 25%;
}
.custom_metas > select {
    width: 30%;
}
.custom_metas small {
    font-weight: bold;
    padding-left: 10px;
}
.metabox-page.custom_metas {
    margin-bottom: 10px;
}
.vc_element-icon.themeslr_shortcode {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/theme_favicon.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
}
/*CUSTOM METABOX STYLE*/
.post-type-page #poststuff #page_metaboxs .inside {
    margin: 0;
    padding: 0;
}
.post-type-page .postbox table.form-table {
    margin: 0;
}
.menu-walker-custom-fields {
    background: #f2f2f2;
    padding: 10px;
}
.menu-walker-custom-fields > div:first-child {
    margin-bottom: 20px;
}

/*DISABLE ADMIN NOTICES*/
.sbi_notice.sbi_review_notice_step_1,
#redux-connect-message,
div#duplicate-post-notice,
.wpclever-notice.notice,
.sbi_notice.sbi_review_notice,
.redux-update-google-fonts.update-message.notice.inline.notice-warning.notice-alt,
.fs-notice.fs-slug-addons-for-visual-composer.fs-type-plugin,
.notice.frash-notice.frash-notice-email,
.dpsp-admin-notice.notice.notice-warning,
#give-stripe-connect-banner,
.dpsp-admin-notice.dpsp-admin-notice-activation.notice,
#vc_license-activation-notice {
    display: none !important;
}